body {
    background-image: url("https://media.istockphoto.com/vectors/abstract-dandelions-dandelion-with-flying-seeds-vector-vector-id947112368?k=6&m=947112368&s=612x612&w=0&h=D275ZAAOBPzcaBQRT7Uf16GKTkoeRACVtZxlSSkmLUQ=");
}

header {
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {

}

main {
    
}