body {
    background-color: powderblue;
    /* background-image: url("https://img.freepik.com/free-vector/space-with-stars-universe-space-infinity-background_78474-99.jpg?size=626&ext=jpg"); */
}

/* Header and Social Media Links */
header {
    border: solid black 1px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-right: 10px;
    background-image: url("https://images.unsplash.com/photo-1513112300738-bbb13af7028e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhciUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
}

header h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#sm-icon-container {
    float: right;
}

.fa {
    padding: 1rem;
}

.fa:hover {
    color: orange;
}

/* Nav 2.0 with reflexive mobile drop down */
nav {
    background: #222;
    margin: .25rem .25rem;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: orange;
}
/* Mobile menu */
.menu {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 3;
    width: 100%;
    display: none;
}
.active .item {
    display: block;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
    display: block;
}
.has-submenu i {
    font-size: 12px;
}

.subitem a {
    padding: .5rem;
    color: black;
}

/* click on sign/planet/house web menu OR whole drop down on mob men */
.submenu-active {
    background-color: papayawhip;
    border-radius: 3px;
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    /* .logo {
      order: 0;
    } */
    .item {
      /* order: 1; */
      position: relative;
      display: block;
      width: auto;
    }
    
    .submenu-active .submenu {
      display: block;
      background: lightgreen;
    }

    .toggle {
      display: none;
    }

    .submenu-active {
      border-radius: 0;
    }
}

/* Side Nav Menu */
/* nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-right: var(--main-padding);
    margin-right: 10px;
}

nav h2 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px papayawhip;
    font-size: 35px;
}

ul {
   list-style-type: none;
   margin-left: 0;
   padding-left: 0;
}

li {
    border-bottom: 2px solid #fff;
}

li:hover {
    color: #fff;
    background-color: #17629e;
    text-decoration: none
}

nav ul li a {
    color: #010100;
    font-weight: 400;
    display: block;
    padding: .5rem;
    padding-left: .5rem;
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: #fff;
    background-color: #17629e;
    text-decoration: none
}

nav ul li ul {
    display: none;
    background-color: #d7d7d7
}

nav ul li ul li a {
    font-size: 1.25rem;
    font-weight: 300;
    padding-left: 2.5rem
}

nav ul li ul li a.active {
    background-color: #17629e;
    color: #17629e;
    padding-bottom: initial
}

nav ul li ul li a:hover {
    color: #fff;
    background-color: orange;
}

a {
    text-decoration: none;
    color: white;
}

.triangle-symbol {
    float: right;
} */

.triangle-symbol {
    float: right;
}

/* Main Content */
main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main h2 {
    color: #17629e;
    text-shadow: 1px 1px papayawhip;
    font-size: 45px;
}

main h3 {
    font-size: x-large;
    border-bottom: solid orange 2px;
    padding-bottom: 1rem;
}

main h4 {
    color: orange;
}

main p {
    padding-top: 1rem;
    padding-bottom: .75rem;
}

.main-content {
    margin-bottom: 7rem;
}

/* Root and Container */
:root {
    --main-radius: 5px;
    --main-padding: 15px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: .65fr 1.1166fr 1.1166fr 1.1166fr;
    grid-template-rows: .75fr 1.083fr 1.083fr 1.083fr;
    grid-template-areas: 
      "header header header header"
      "nav main main main"
      "nav main main main"
      "nav main main main";
    grid-gap: .2rem;
    font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 16px;
    /* text-align: center; */
    color: white;
}

@media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr, 1fr, 5fr, 1fr;
      grid-template-areas: 
        "header"
        "nav"
        "main";
      margin: .25rem;
    }
}


